# Ignore specific folders 
/.codelite/
/CPPProject/
/build-Debug/

# Ignore specific files in all directories
/Makefile
/compile_commands

# Ignore .clang-format and .clangd files in all directories
**/.clang-format
**/.clangd

# Ignore .mk files in all directories
**/*.mk
